body{
	background-color: #DCFEF9;
	 }

main{
	width: 85%;
	margin-right: auto;
	margin-left: auto;
	background-color: #D8BAAC ;
	}

header img{
	width: 100%;
	}

section{
	background-color: ;
	overflow: hidden;

	padding: 15px;
	margin-bottom: 17px;
	}

p {
  
  	font-family: serif;
	}

	
.Borde{
	background-color:  #996865;
}











